<div class="overflow-x-auto text-gray-600">
  <table class="table">
    <thead>
      <tr>
        <th>
          
        </th>
        <th class="text-gray-500">Tournois</th>
        <th class="text-gray-500">Concurrents</th>
        <th class="text-gray-500">Sponsors</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% tournaments.forEach(tournament => { %>

      <tr>
        <th>
          <!-- <label>
            <input type="checkbox" class="checkbox border-gray-400" />
          </label> -->
        </th>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img
                  src="<%= tournament.sport.picture %>"
                  alt="Avatar Tailwind CSS Component"
                  class="w-[48px]"
                />
              </div>
            </div>
            <div>
              <div class="font-bold"><%= tournament.name %></div>
              <div class="text-sm opacity-50"><%= tournament.sport.name %></div>
            </div>
          </div>
        </td>
        <td>
          <% tournament.club.forEach(c => { %>
          <div class="my-2"><%= c.name %> <strong>(<%= c.country %>)</strong></div>
          <% }) %>
        </td>

        <td>
          <% tournament.club.forEach((club, clubIndex) => { %>
            <div class="my-2">
              <% club.sponsor.forEach((sponsor, sponsorIndex) => { %>
                <span><%= sponsor.name %></span>
                <% if (sponsorIndex !== club.sponsor.length - 1) { %>
                  <span>-</span>
                <% } %>
                
              <% }) %>
              <strong>(<%= club.country %>)</strong>
            </div>
          <% }) %>
        </td>

        <!-- Version simplifiée sans - entre chaque sponsor -->
        <!-- <td>
          <%# tournament.club.forEach(club => { %>
            <%# club.sponsor.forEach(sponsor => { %>
              <span><%# sponsor.name %></span>
            <%# }) %>
          <%# }) %>
        </td> -->
        <th>
          <a href="/tournament/<%= tournament.id %>" class="btn btn-ghost btn-xs">details</a>
        </th>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
